-#
  ---
  id: 25
  title: "Haven't you subscribed yet?!"
  excerpt: "Share it with your friends then, maybe they'll :D"
  path: 'some/fancy_path.md'
  author: "swilgosz"
  topics: ["text", "transformations"]
  videoId: "84J-_DlvoQE"
  published: true
  publishedAt: "2022-07-25"
  modifiedAt: "2022-07-25"
  thumbnail:
    full: /images/episodes/25/cover-full.jpg
    big: /images/episodes/25/cover-big.jpg
    small: /images/episodes/25/cover-small.jpg
  ---

My Content haml
